.container {
    font-family: Inter, sans-serif;
    margin-top: 10px;
}
button {
    margin-top: 19px;
    background-color: transparent;
    cursor: pointer;
    font-size: 0.9375rem;
    line-height: 1.75;
    min-width: 64px;
    padding: 10px 21px;
    border: 1px solid rgba(55, 125, 255, 0.5);
    color: rgb(55, 125, 255);
    font-weight: 400;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

button:after {
  content: "";
  background: #a9d7e0;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}


input {
    width: 250px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    padding: 14.5px 14px;
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
    font-weight: 300;
    font-size: 15px;
    margin-right: 5px;
}